@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/*noinspection ALL*/
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-chivo);

    --color-rose-500: #ff0661;
    --color-gray-50: #f5f5f5;
    --color-gray-100: #f0f0f0;
    --color-gray-800: #242424;
    --color-gray-900: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.formgrid {
    grid-template-columns: auto max-content;
}

.releasegrid {
    grid-template-columns: 20em auto;
}